$color-primary: #f5f5f5;
$color-secondary: #37353b;
$color-tertiary: #1f4e6e;
$card-color-light : #fafafa;
$border-color: #ed81b5;
$color-success: #389c4f;
$color-danger: #dc3545;
$color-warning: #d8a200;

$mobile-max: 425px;
$tablet-max: 768px;