@use "../../styles/variables" as *;

.footer {
  display: flex;
  padding: 15px;
  background: linear-gradient(to top, rgba(255, 60, 0, 0.192), $color-primary);
  
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;

  .footer-content {
    display: flex;
    gap: 10px;
    
    width: 100%;
    align-items: center;
    justify-content: space-between;

  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: end;

  font-size: 14px;
  line-height: 2;

  a:hover {
    text-decoration: underline;
  }
}

.footer-icon {
  width: 25px;
  height: 25px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $tablet-max) {
  .footer__links {
    flex-direction: row;
    font-size: 16px;
    gap: 25px;
  }

  .footer-icon {
    width: 35px;
    height: 35px;
  }
}